h1
{
	color:#fafdd3;
	text-align: center;
	font-family: 'Oswald';
}
header
{
	background-color:#6f1115;

}
main p {
	text-align: center;
	color:#6f1115;
	background-color:#fafdd3;
	font-family: 'Oswald';
}
main h2 {
	text-align: center;
	color:#6f1115;
	background-color:#fafdd3;
	font-family: 'Oswald';
}
head {
	background-color:#fafdd3;
}
body {
	padding heigt
}
